:root {
    --color-orange: #eda045;
}

html {
    font-family: "Lato", Sans-serif;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: "Montserrat", Sans-serif;
}
h2 {
    font-family: "Montserrat", Sans-serif;
}
button {
    display: inline-block;
    background-color: var(--color-orange);
    border-style: solid;
    border-color: var(--color-orange);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", Sans-serif;
    font-size: large;
    transition: 0.3s;
}
div {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 40%;
}

button:hover {
    background-color: white;
    border-style: solid;
    border-color: var(--color-orange);
    color: var(--color-orange);
}
footer {
    font-weight: bold;
    font-size: xx-large;
}