:root {
    --color-orange: #eda045;
}

html {
    font-family: "Lato", Montserrat, Sans-serif;
}
button {
    background-color: var(--color-orange);
    border-style: solid;
    border-color: var(--color-orange);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}
button:hover {
    background-color: white;
    border-style: solid;
    border-color: var(--color-orange);
    color: var(--color-orange);
}
footer {
    font-size: large;
}